In [233]:
import pandas as pd
import numpy as np # allows to work with numeric data 
import matplotlib.pyplot as plt #Python 2D plotting library 
import seaborn as sns
import datetime

repository='C:/Users/adam_/Desktop/Adam_Work_Spark/trips_spark/Shared_Micromobility_Vehicle_Trips.csv'
Austin_df = pd.read_csv(repository,sep=",") # use sep="," for coma separation.

In [234]:
Austin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2115445 entries, 0 to 2115444
Data columns (total 16 columns):
ID                          object
Device ID                   object
Vehicle Type                object
Trip Duration               int64
Trip Distance               int64
Start Time                  object
End Time                    object
Modified Date               object
Month                       int64
Hour                        int64
Day of Week                 int64
Council District (Start)    float64
Council District (End)      float64
Year                        int64
Census Tract Start          object
Census Tract End            object
dtypes: float64(2), int64(6), object(8)
memory usage: 258.2+ MB

In [236]:
Austin_df.describe()

       Trip Duration  Trip Distance         Month          Hour   Day of Week
count   2.115445e+06   2.115445e+06  2.115445e+06  2.115445e+06  2.115445e+06
mean    6.104045e+02   4.560925e+04  8.540141e+00  1.465292e+01  3.335430e+00
std     8.745325e+02   1.936537e+06  1.107280e+00  5.678401e+00  2.099561e+00
min    -1.134000e+03   0.000000e+00  7.000000e+00  0.000000e+00  0.000000e+00
25%     2.360000e+02   5.980000e+02  8.000000e+00  1.100000e+01  1.000000e+00
50%     3.980000e+02   1.142000e+03  9.000000e+00  1.500000e+01  4.000000e+00
75%     6.920000e+02   2.037000e+03  1.000000e+01  1.900000e+01  5.000000e+00
max     8.477100e+04   1.113118e+09  1.100000e+01  2.300000e+01  6.000000e+00

In [235]:
Austin_df=Austin_df.drop(['Modified Date', 'Year','Council District (Start)','Council District (End)'],axis='columns')

In [242]:
print(Austin_df.shape[0] - Austin_df.dropna().shape[0] , 'removed Nan records')

8 removed Nan records

In [201]:
print(Austin_df.shape - Austin_df.drop_duplicates().shape , 'removed duplicates records')

0 removed duplicates records

In [238]:
Austin_df['Trip Duration']=Austin_df[Austin_df['Trip Duration']>1.astype('int64')]
#Austin_df['Trip Duration']=Austin_df['Trip Duration'].astype('int')

SyntaxError: invalid syntax (<ipython-input-238-4f1d0cfc7605>, line 1)

In [179]:
Austin_df['Start Time'] = pd.to_datetime(Austin_df['Start Time'])
Austin_df['End Time'] = pd.to_datetime(Austin_df['End Time'])
Austin_df['Day of Week'] = Austin_df['Start Time'].dt.day_name()
d2 = {"Monday": "MON", "Tuesday": "TUE", "Wednesday": "WED", "Thursday": "THU", "Friday": "FRI", "Saturday": "SAT", "Sunday": "SUN"}
Austin_df["Day of Week"] = Austin_df["Day of Week"].replace(d2)
Austin_df['Is_Weekend'] =  Austin_df['Day of Week'].map(lambda x: True if x in('Saturday','Sunday') else False)

In [118]:
#Add month and year
#tock['meal_year'] = stock.meal_date_d.str[:-6]
#stock['meal_month'] = stock.meal_date_d.str[5:-3]

#Get the season
Y = 2019 # dummy leap year to allow input X-02-29 (leap day)
seasons = [('winter', (datetime.date(Y,  1,  1),  datetime.date(Y,  3, 20))),
           ('spring', (datetime.date(Y,  3, 21),  datetime.date(Y,  6, 20))),
           ('summer', (datetime.date(Y,  6, 21),  datetime.date(Y,  9, 22))),
           ('autumn', (datetime.date(Y,  9, 23),  datetime.date(Y, 12, 20))),
           ('winter', (datetime.date(Y-1, 12, 21),  datetime.date(Y-1, 12, 31)))]

def get_season(now):
    if isinstance(now, datetime.datetime):
        now = now.date()
    now = now.replace(year=Y)
    return next(season for season, (start, end) in seasons
                if start <= now <= end)

Austin_df['season'] = Austin_df['Start Time'].apply(lambda x: get_season(x))

In [119]:
Austin_df['Trip Duration'] = Austin_df['Trip Duration']/1000
Austin_df['Trip Distance'] = Austin_df['Trip Distance']/3600

In [139]:
Austin_df['Real_duration'] = pd.to_timedelta(Austin_df['End Time']-Austin_df['Start Time'])

In [154]:
#Austin_df = Austin_df.set_index("Trip Duration")
Austin_df = Austin_df.drop(0, axis=0)

In [156]:
Austin_df.shape

(520603, 16)

In [155]:
Austin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520603 entries, 1 to 520603
Data columns (total 16 columns):
ID                          520603 non-null object
Device ID                   520603 non-null object
Vehicle Type                520603 non-null object
Trip Duration               520603 non-null int64
Trip Distance               520603 non-null int64
Start Time                  520603 non-null object
End Time                    520603 non-null object
Modified Date               520603 non-null object
Month                       520603 non-null int64
Hour                        520603 non-null int64
Day of Week                 520603 non-null int64
Council District (Start)    520599 non-null float64
Council District (End)      520599 non-null float64
Year                        520603 non-null int64
Census Tract Start          520599 non-null object
Census Tract End            520599 non-null object
dtypes: float64(2), int64(6), object(8)
memory usage: 67.5+ MB

In [157]:
Austin_df.describe()

,Trip Duration,Trip Distance,Month,Hour,Day of Week,Council District (Start),Council District (End),Year
count,520603.000000,5.206030e+05,520603.0,520603.000000,520603.000000,520599.000000,520599.000000,520603.0
mean,587.927186,1.020748e+05,10.0,14.455247,3.219426,7.840113,7.648490,2019.0
std,712.466487,3.290106e+06,0.0,5.452899,2.097260,2.467971,2.575347,0.0
min,0.000000,0.000000e+00,10.0,0.000000,0.000000,0.000000,0.000000,2019.0
25%,237.000000,6.330000e+02,10.0,11.000000,1.000000,9.000000,9.000000,2019.0
50%,391.000000,1.158000e+03,10.0,15.000000,3.000000,9.000000,9.000000,2019.0
75%,677.000000,2.009000e+03,10.0,18.000000,5.000000,9.000000,9.000000,2019.0
max,34779.000000,1.113118e+09,10.0,23.000000,6.000000,10.000000,10.000000,2019.0